In [155]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as plt
from sklearn.linear_model import LogisticRegression

In [136]:
df = pd.read_csv('mathewshirt.csv')

In [137]:
df.head()

,Timestamp,Shirt,Day,Mood,Weather,NewShirt,NewColour,Additional Comments,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2017-06-24,White,Saturday,Good,0,no,no,NaN,Total Number,235,NaN
1,2017-06-25,White,Sunday,Good,0,no,no,NaN,White,114,NaN
2,2017-06-26,White,Monday,Meh,0,no,no,NaN,Black,101,NaN
3,2017-06-27,White,Tuesday,Good,0,no,no,NaN,Other,20,NaN
4,2017-06-28,White,Wednesday,Good,0,no,no,NaN,NaN,NaN,NaN

In [138]:
df.columns

Index(['Timestamp', 'Shirt', 'Day', 'Mood', 'Weather', 'NewShirt', 'NewColour',
       'Additional Comments', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [139]:
df = df.drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Additional Comments', 'NewShirt', 'NewColour'], axis=1)

In [140]:
df.head()

    Timestamp  Shirt        Day  Mood  Weather
0  2017-06-24  White   Saturday  Good        0
1  2017-06-25  White     Sunday  Good        0
2  2017-06-26  White     Monday   Meh        0
3  2017-06-27  White    Tuesday  Good        0
4  2017-06-28  White  Wednesday  Good        0

In [141]:
df.Shirt.value_counts()

White          113
Black          101
Grey             8
Aqua Blue        2
Pink             2
Red              2
Yellow           2
Blue             2
white            1
Aqua  Blue       1
SKIN COLOUR      1
Name: Shirt, dtype: int64

In [142]:
# use this to drop all the column values except the ones that are black or hwite
df = df.loc[df.Shirt.isin(['Black', 'White'])]

In [143]:
df["Soso"] = df.Mood.apply(lambda x: 1 if 'so' in x.lower() else 0)

In [144]:
df["Bad"] = df.Mood.apply(lambda x: 1 if x.lower() == 'bad' else 0 )

In [145]:
df["Good"] = df.Mood.apply(lambda x: 1 if x.lower() == 'good' else 0)

In [146]:
df.Mood.value_counts()

Good             177
So-so             12
Bad                8
so-so              6
soso               2
Meh                2
Stresseder         1
So-so to Good      1
Stressed           1
Stress             1
Better             1
Restless           1
:(                 1
Name: Mood, dtype: int64

In [147]:
df.shape

(214, 8)

In [148]:
df["relev"] = df.apply(lambda x: 1 if x.Good == 1 or x.Bad == 1 or x.Soso == 1 else 0, axis=1)

In [149]:
df = df[df.relev == 1]

In [150]:
df = df.drop(['Good', 'relev', 'Mood'], axis=1)

In [151]:
df['Shirt'] = df.apply(lambda x: 0 if x.Shirt.lower() == 'white' else 1 if x.Shirt.lower() == 'black' else np.nan, axis=1)

In [152]:
df['M'] = df.apply(lambda x: 1 if x.Day.lower() == 'monday' else 0, axis=1)
df['T'] = df.apply(lambda x: 1 if x.Day.lower() == 'tuesday' else 0, axis=1)
df['W'] = df.apply(lambda x: 1 if x.Day.lower() == 'wednesday' else 0, axis=1)
df['Th'] = df.apply(lambda x: 1 if x.Day.lower() == 'thursday' else 0, axis=1)
df['F'] = df.apply(lambda x: 1 if x.Day.lower() == 'friday' else 0, axis=1)
df['Sa'] = df.apply(lambda x: 1 if x.Day.lower() == 'saturday' else 0, axis=1)
df['S'] = df.apply(lambda x: 1 if x.Day.lower() == 'sunday' else 0, axis=1)
df = df.drop(['Day'], axis=1)

In [156]:
df.index = df.Timestamp
df = df.drop(['Timestamp'], axis=1)

In [157]:
df.head()

            Shirt  Weather  Soso  Bad  M  T  W  Th  F  Sa  S
Timestamp
2017-06-24      0        0     0    0  0  0  0   0  0   1  0
2017-06-25      0        0     0    0  0  0  0   0  0   0  1
2017-06-27      0        0     0    0  0  1  0   0  0   0  0
2017-06-28      0        0     0    0  0  0  1   0  0   0  0
2017-06-29      1        0     0    0  0  0  0   1  0   0  0

In [158]:
lm = LogisticRegression()

In [167]:
X_train = df.drop(['Shirt'], axis=1)

In [168]:
y_train = df.Shirt

In [169]:
model = lm.fit(X_train, y_train)

In [171]:
X_test = model.predict(np.array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0]).reshape(1, -1))

In [172]:
X_test

array([0])